{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-jas" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CBC@: {% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/foundation/dataTables.foundation.css">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% endblock css %}
    {% block js %}
    <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-61745788-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      var options = {};
      if (location.hostname != 'dazangthings.nz') {
        options['send_page_view'] = false;
      }
      gtag('config', 'UA-61745788-1', options);
    </script>
    {% endblock js %}
  </head>
  <body>
  {% block body %}
    {% block top_nav %}
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="{% url 'home_display' %}" title="Chinese Buddhist Canonical Attributions home">CBC@</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="/admin/">Admin</a></li>
        </ul>

        <ul class="left">
          <li><a href="{% url 'text_list_display' %}">Texts</a></li>
          <li><a href="{% url 'person_list_display' %}">Persons</a></li>
          <li><a href="{% url 'source_list_display' %}">Sources</a></li>
          <li><a href="{% url 'date_list_display' %}">Dates</a></li>
          <li><a href="/cbc-guide/">User's Guide</a></li>
          <li><a href="/cbc-guide/abbreviations/">Abbreviations</a></li>
        </ul>
      </section>
    </nav>
    {% endblock top_nav %}
    <div class="row full-width">
      <div class="small-12 columns">
        {% block content %}{% endblock content %}
      </div>
    </div>
    {% block footer %}
    <div class="row">
      <div class="small-12 columns">
        <footer>
          <p>The Chinese Buddhist Canonical Attributions project is
          the brainchild
          of <a href="mailto:michael.radich@vuw.ac.nz?subject=CBC%40%20feedback%20on%20{{ url_path }}">Michael Radich</a> and Jamie Norrish. We
          welcome corrections and edits to individual entries, and
          suggestions for improvement to the database as a
          whole. Please email all such comments to <a href="mailto:michael.radich@vuw.ac.nz?subject=CBC%40%20feedback%20on%20{{ url_path }}">Radich</a>. We also
          welcome fresh contributions. If you are interested in
          becoming a contributor, please also email <a href="mailto:michael.radich@vuw.ac.nz?subject=CBC%40%20feedback%20on%20{{ url_path }}">Radich</a>.</p>
        </footer>
      </div>
    </div>
    {% endblock footer %}
    {% block end_js %}
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/foundation/dataTables.foundation.js"></script>
    {% endblock end_js %}
  {% endblock body %}
  </body>
</html>
