{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}List of dates{% endblock title %}

{% block content %}
<header>
  <h1>Dates</h1>
</header>

<p>The following list of dates are individual years that are used for
sorting and analytical purposes, and not the frequently more vague
dates that are displayed elsewhere on the site.</p>

<ul>
  {% for date in dates %}
  <li><a href="{% url 'date_display' date %}">{{ date }}</a></li>
  {% endfor %}
</ul>

{% endblock content %}
