{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}Date: {{ date }}{% endblock title %}

{% block content %}
<header>
  <h1>Date: {{ date }}</h1>
</header>

<ul class="tabs" data-tab="">
  <li class="tab-title active"><a href="#panel-texts">Texts</a></li>
  <li class="tab-title"><a href="#panel-people">People</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel-texts">
    <table id="text-table">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col">Assertion</th>
          <th scope="source">Source</th>
        </tr>
      </thead>
      <tbody>
        {% for assertion in assertions %}
        <tr>
          <td>
            <ul class="no-bullet">
              {% for text in assertion.texts.all %}
              <a href="{% url 'text_display' text.pk %}">{{ text }}</a>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="no-bullet">
              {% include "attribution/display/text_property.html" with title="Title" properties=assertion.titles.all %}

              {% include "attribution/display/text_person.html" with title="People" involvements=assertion.person_involvements.all %}

              {% include "attribution/display/text_date.html" with title="Date" dates=assertion.dates.all link=False %}

              {% include "attribution/display/text_property.html" with title="Identifier" properties=assertion.identifiers.all %}
            </ul>
          </td>
          <td>
            <ul class="no-bullet">
              {% for source in assertion.sources.all %}
              <li>[<a href="{% url 'source_display' source.pk %}">{{ source.abbreviation }}</a>] {{ source }}</li>
              {% endfor %}
              {% if assertion.source_detail %}<p>{{ assertion.source_detail }}</p>{% endif %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="content" id="panel-people">
    {% include 'attribution/display/person_table.html' %}
  </div>
</div>
{% endblock content %}

{% block end_js %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('#person-table').DataTable();
  $('#text-table').DataTable();
});
</script>
{% endblock end_js %}
