{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}Home{% endblock title %}

{% block content %}
<header>
  <h1>Chinese Buddhist Canonical Attributions database</h1>
</header>

<p>The Chinese Buddhist Canonical Attributions database project is the
brainchild of
<a href="mailto:michael.radich@hcts.uni-heidelberg.de">Michael Radich</a> and Jamie
Norrish.</p>

<p>The aim of the database is to record information about ascriptions
of Chinese Buddhist texts, especially in the very many cases in which
scholars have questioned received ascriptions (as embodied, for
example, in Taishō bylines).</p>

<p>Users may find a detailed Guide to the database and its contents
<a href="/cbc-guide/">here</a>. Users are strongly urged to read the
Guide before using it.</p>

<p>The database uses a certain number of Abbreviations, which can be
seen <a href="/cbc-guide/abbreviations/">here</a>.</p>

<h2>Brief description</h2>

<p>Content of the database may relate to ascriptions of all texts in
the Taishō 大正 and Xuzangjing 続蔵経 collections, and also of a range
of other texts (e.g. paracanonical texts, Dunhuang texts, etc.). The
database includes a large number of "assertions" summarising arguments
in both traditional and modern scholarly "sources", which overturn or
problematise received ascriptions. Sometimes, where controversy is
longstanding, we also record arguments or evidence supporting received
ascriptions. The database also includes basic data about ascriptions
automatically extracted from the CBETA xml versions of those
texts.</p>

<p>Using the tabs at the top of the screen, you can search for
assertions about texts that interest you—by keyword, persons involved
in the production of the text, date (including a range of dates), or
the "source" of the assertion.</p>

<p><strong>There is no intention that the database itself ever be used
as a direct source of information about texts or
"assertions".</strong> Rather, it should be used like an annotated
index: it points users to potentially useful scholarly
sources. <strong>Users should then follow up directly in the actual
sources, rather than relying exclusively upon CBC@.</strong> This
frees contributors from onerous responsibility for excessive accuracy;
only thus can such a user-contributor database be expected to reach
and maintain relatively full coverage. Put differently: <strong>The
database is a venue for friendly sharing of informal notes on
sources—not, itself, an authoritative source.</strong></p>

<p>CBC@ is a user-contributor database, and its success depends upon
contributions from qualified users. We are very keen to recruit
specialist contributors willing to lend their expertise to help the
database grow, and gradually, pull abreast of the current state of
scholarship. At the same time, the database is a scholarly resource,
and content is moderated to maintain accuracy and relevance, which
means we cannot make it a completely wiki-style open resource. If you
are interested in becoming a contributor to the database, please email
<a href="mailto:michael.radich@hcts.uni-heidelberg.de">Michael Radich</a>.</p>

<p>Credits and thanks: Throughout the process of planning and building
this database, we benefited greatly from the generous and matchless
advice of Jan Nattier. For the period 2017-2018, work on CBC@ was
generously supported by funding from the Chiang Ching-kuo Research
Foundation (RG003-P-16). With the support of that funding, Atsushi
Iseki added a large amount of information about works in modern
Japanese scholarship. Earlier work on the database was supported by
funding from the Victoria University of Wellington (VUW) Faculty of
Humanities and Social Sciences; and by funds associated with a
Fellowship for Experienced Researchers from the Alexander von Humboldt
Foundation in 2015. We have also benefitted from the advice and
support of the following scholars and projects: Iyanaga Nobumi, Chuck
Muller (Digital Dictionary of Buddhism), Marcus Bingenheimer
(Bibliography of Translations from the Chinese Buddhist Canon into
Western Languages), Nagasaki Kiyonori (SAT Daizōkyō Text Dabatase),
and Élie Roux (Buddhist Universal Digital Archive).</p>
{% endblock content %}
