{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}Home{% endblock title %}

{% block content %}
<header>
  <h1>Chinese Buddhist Canonical Attributions database</h1>
</header>

<p>The Chinese Buddhist Canonical Attributions database project is the
brainchild of Michael Radich &lt;Michael.Radich@vuw.ac.nz&gt; and
Jamie Norrish &lt;jamie@artefact.org.nz&gt;.</p>

<p>The aim of the database is to record information about ascriptions
of Chinese Buddhist texts.</p>

<h2>Key terms:</h2>

<dl>
  <dt>assertion</dt>
  <dd>a statement about the ascription of a text, or a summary record
  of such a statement included in CBC@.</dd>

  <dt>source</dt>
  <dd>the source of an “assertion”, including traditional texts
  (e.g. catalogues such as Zhisheng 智昇, Kaiyuan Shijiao lu 開元釋教
  錄 T2154) and works of modern scholarship (e.g. Hayashiya Tomojirō
  林屋友次郎, Kyōroku kenkyū 経録研究).</dd>
</dl>

<p>The database includes all texts in the Taishō 大正 and Xuzangjing
続蔵経 collections. Further texts can be added freely. The database
also includes basic data about ascriptions automatically extracted
from the CBETA xml versions of those texts. It also includes
“assertions” about ascriptions for a range of other texts, from a
range of “sources”.</p>

<p>You can search for assertions about texts that interest you using
the tabs at the top of the screen by keyword, persons involved in the
production of the text, date (including a range of dates), or the
“source” of the assertion.</p>

<p>There is no intention that the database itself ever be used as a
direct source of information about texts or “assertions”. Rather, it
should be used like an annotated index: it points users to potentially
useful scholarly sources. Users should then engage directly with those
sources themselves, rather than relying exclusively upon CBC@. This
frees contributors from onerous responsibility for excessive accuracy;
only thus can such a user-contributor database be expected to reach
and maintain relatively full coverage. Put differently: The database
is a venue for friendly sharing of informal notes on sources—not,
itself, an authoritative source.</p>

<p>CBC@ is a user-contributor database, and its success depends upon
contributions from qualified users. At the same time, it is a
scholarly resource, and content is moderated to maintain accuracy and
relevance. If you are interested in becoming a contributor to the
database, please email Michael Radich &lt;Michael.Radich@vuw.ac.nz&gt;.</p>
{% endblock content %}
