{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}Person: {{ person }}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/foundation/dataTables.foundation.css">
{% endblock css %}

{% block content %}
<header>
  <h1>Person: {{ person }}</h1>
</header>

{% if person.notes %}
<p>{{ person.notes }}</p>
{% endif %}

{% if person.date %}
<p>Date: {% if person.sort_date %}<a href="{% url 'date_display' person.sort_date %}">{% endif %}{{ person.date }}{% if person.sort_date %}</a>{% endif %}</p>
{% endif %}

{% with translations=person.translated.all %}
{% if translations %}
<h2>Ascribed Translations</h2>

{% include "attribution/display/person_text.html" with title="Translated text" assertions=translations id="translator-table" %}

{% endif %}
{% endwith %}

{% with authored=person.authored.all %}
{% if authored %}
<h2>Ascribed Writings</h2>

{% include "attribution/display/person_text.html" with title="Authored text" assertions=authored id="author-table" %}

{% endif %}
{% endwith %}

{% endblock content %}

{% block end_js %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/foundation/dataTables.foundation.js"></script>
<script>
$(document).ready(function () {
  $('#translator-table').DataTable();
  $('#author-table').DataTable();
});
</script>
{% endblock end_js %}
