{% load search_index %}
<table id="person-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Notes</th>
      <th scope="col" style="display: none;">Search</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people %}
    <tr>
      <td>
        <a href="{% url 'person_display' person.pk %}">{{ person }}</a>
      </td>
      <td data-order="{{ person.sort_date }}">{{ person.date }}</td>
      <td>{{ person.note }}</td>
      <td style="display: none;">{{ person.name|remove_combining }} {{ person.note|remove_combining }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
