<table id="{{ role }}-table">
  <thead>
    <tr>
      <th scope="col">Text</th>
      <th scope="col">Is preferred?</th>
      <th scope="col">Has other assertions?</th>
      <th scope="col">Source</th>
    </tr>
  </thead>
  <tbody>
    {% for assertion in assertions %}
    <tr>
      <td>
        <ul class="no-bullet">
          {% for text in assertion.texts.all %}
          <li><a href="{% url 'text_display' text.pk %}">{{ text }}</a></li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ assertion.is_preferred|yesno:"Yes,No" }}</td>
      <td>{{ assertion.has_other_assertions|yesno:"Yes,No" }}</td>
      <td>{% with source=assertion.source %}[<a href="{% url 'source_display' source.pk %}">{{ source.abbreviation }}</a>] {{ source }} {% endwith %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
