{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}List of people{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/foundation/dataTables.foundation.css">
{% endblock css %}

{% block content %}
<header>
  <h1>People</h1>
</header>

{% include 'attribution/display/person_table.html' %}
{% endblock content %}

{% block end_js %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/foundation/dataTables.foundation.js"></script>
<script>
$(document).ready(function () {
  $('#person-table').DataTable();
});
</script>
{% endblock end_js %}
