{% extends "attribution/display/base.html" %}
{% load ddh_utils_tags %}
{% load facet_display search_index %}

{% block title %}{{ block.super }}List of sources{% endblock title %}

{% block content %}
<header>
  <h1>Sources</h1>
</header>

<div class="row">
  <div class="small-4 columns">
    <form method="get" action=".">
      <table>
        {{ form.as_table }}
        <tr>
          <td></td>
          <td><input type="submit" value="Search"></td>
        </tr>
      </table>
    </form>

    <h2>Filters</h2>

    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#panel-date-filter">Date</a>
        <div class="content" id="panel-date-filter">
          <ul>
            {% for date in facets.fields.date %}
            <li>{% render_date_facet querydict "date_exact" date %}</li>
            {% endfor %}
          </ul>
        </div>
      </dd>
    </dl>
  </div>

  <div class="small-8 columns">
    <table id="source-table" style="border: none;">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Source</th>
          <th scope="col">Number of Assertions</th>
        </tr>
      </thead>
      <tbody>
        {% for result in page.object_list %}
        <tr>
          <td>{{ result.date }}</td>
          <td><a href="{% url 'source_display' result.pk %}">{{ result.name }}</a></td>
          <td>{{ result.num_assertions }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% display_pagination querydict page %}
  </div>
</div>
{% endblock content %}

{% block end_js %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('#source-table').DataTable({
    "info": false, "ordering": false, "paging": false, "searching": false
  });
});
</script>
{% endblock end_js %}
