{% extends "attribution/display/base.html" %}
{% load search_index %}

{% block title %}{{ block.super }}Source: {{ source.abbreviation }}{% endblock title %}

{% block content %}
<header>
  <h1>Source: {{ source.abbreviation }}</h1>
</header>

<p>{{ source }}</p>

{% if source.notes %}
<p>{{ source.notes }}</p>
{% endif %}

<h2>Assertions</h2>

<table id="assertion-table">
  <thead>
    <tr>
      <th scope="col">Assertion</th>
      <th scope="col">Argument</th>
      <th scope="col">Place in source</th>
      <th scope="col" style="display: none;">Search</th>
    </tr>
  </thead>
  <tbody>
    {% for assertion in source.assertions.all %}
    {% with texts=assertion.texts.all %}
    <tr>
      <td>
        <ul class="no-bullet">
          <li><span class="assertion-property-title">Texts:</span> {% for text in texts %}
            <a href="{% url 'text_display' text.id %}">{{ text }}</a>
            {% if not forloop.last %}; {% endif %}
            {% endfor %}
          </li>
          {% include "attribution/display/text_property.html" with title="Titles" properties=assertion.titles.all %}

          {% include "attribution/display/text_person.html" with title="People" involvements=assertion.person_involvements.all %}

          {% include "attribution/display/text_property.html" with title="Dates" properties=assertion.dates.all %}

          {% include "attribution/display/text_property.html" with title="Identifiers" properties=assertion.identifiers.all %}
        </ul>
      </td>
      <td>{{ assertion.argument|linebreaks }}
        <p><a href="{% url 'admin:attribution_propertyassertion_change' assertion.pk %}">Edit</a></p>
      </td>
      <td>{% if assertion.source_detail %}{{ assertion.source_detail|linebreaks }}{% endif %}</td>
      <td style="display: none;">{{ assertion.argument|remove_combining }} {% for person in assertion.people.all %}{{ person.name|remove_combining }} {% endfor %} {% for text in texts %}{{ text.identifier|remove_combining }} {% endfor %}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block end_js %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('#assertion-table').DataTable({"paging": false});
});
</script>
{% endblock end_js %}
