{% extends "attribution/display/base.html" %}
{% load search_index %}

{% block title %}{{ block.super }}List of sources{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/foundation/dataTables.foundation.css">
{% endblock css %}

{% block content %}
<header>
  <h1>Sources</h1>
</header>

<table id="source-table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Source</th>
      <th scope="col">Number of Assertions</th>
      <th scope="col" style="display: none;">Search</th>
    </tr>
  </thead>
  <tbody>
    {% for source in sources %}
    <tr>
      <td>{{ source.date }}</td>
      <td><a href="{% url 'source_display' source.id %}">{{ source }}</a></td>
      <td>{{ source.num_assertions }}</td>
      <td style="display: none;">{{ source.name|remove_combining }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block end_js %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/foundation/dataTables.foundation.js"></script>
<script>
$(document).ready(function () {
  $('#source-table').DataTable();
});
</script>
{% endblock end_js %}
