{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}Text: {{ text }}{% endblock title %}

{% block content %}
<header>
  <h1>Text: {{ text }}</h1>
</header>

<h2>Summary</h2>

<table>
  <tbody>
    <tr>
      <td>Identifier</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.identifier %}</td>
    </tr>
    <tr>
      <td>Title</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.title %}</td>
    </tr>
    <tr>
      <td>Author</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.author %}</td>
    </tr>
    <tr>
      <td>Translator</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.translator %}</td>
    <tr>
      <td>Date</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.date %}</td>
    </tr>
  </tbody>
</table>

<h2>Assertions</h2>

<table>
  <thead>
    <tr>
      <th scope="col">Source</th>
      <th scope="col">Assertion</th>
      <th scope="col">Argument</th>
    </tr>
  </thead>
  <tbody>
  {% for assertion in text.assertions.all %}
    <tr>
      <td id="assertion-{{ assertion.pk }}">
        {% with source=assertion.source %}
        <p>[<a href="{% url 'source_display' source.id %}">{{ source.abbreviation }}</a>]&nbsp;&nbsp; {{ source }}
        {% endwith %}
        {% if assertion.source_detail %}
        &#8212; {{ assertion.source_detail }}
        {% endif %}</p>
      </td>
      <td>
        <ul class="no-bullet">
          {% include "attribution/display/text_property.html" with title="Title" properties=assertion.titles.all %}

          {% include "attribution/display/text_person.html" with title="People" involvements=assertion.person_involvements.all %}

          {% include "attribution/display/text_date.html" with title="Date" dates=assertion.dates.all link=True %}

          {% include "attribution/display/text_property.html" with title="Identifier" properties=assertion.identifiers.all %}

          {% with texts=assertion.texts.all %}
          {% if texts|length > 1 %}
          <li><span class="assertion-property-title">Other texts:</span>
            <ul class="no-bullet">
              {% for other_text in texts %}
              {% if other_text != text %}
              <li><a href="{% url 'text_display' other_text.pk %}">{{ other_text }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% endwith %}
        </ul>
      </td>
      <td>{% if assertion.argument %}{{ assertion.argument|linebreaks }}{% endif %}
        <p><a href="{% url 'admin:attribution_propertyassertion_change' assertion.pk %}">Edit</a></p>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}
