{% extends "attribution/display/base.html" %}
{% load pagination_display %}

{% block title %}{{ block.super }}List of texts{% endblock title %}

{% block content %}
<header>
  <h1>Texts</h1>
</header>

<form action="" method="get">
<p>Filter texts by search term: <input name="q" type="search" value="{{ filter }}"></p>
</form>

<ul>
  {% for text in texts %}
  <li>
    <a href="{% url 'text_display' text.pk %}">{{ text }}</a>
  </li>
  {% endfor %}
</ul>

{% show_pagination num_pages current_page query_parameters %}

{% endblock content %}
