{% extends "attribution/display/base.html" %}

{% block title %}{{ block.super }}Text: {{ text }}{% endblock title %}

{% block content %}
<header>
  <h1>Text: {{ text }}</h1>
</header>

<h2>Summary</h2>

<table>
  <tbody>
    <tr>
      <td>Identifier</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.identifier %}</td>
    </tr>
    <tr>
      <td>Title</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.title %}</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{% include "attribution/display/text_summary.html" with data=summary.date %}</td>
    </tr>
    {% for role, data in summary.people.items %}
    <tr>
      <td>{{ role|capfirst }}</td>
      <td>{% include "attribution/display/text_summary.html" with data=data %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if summary.identifier.source == 'T' %}
<p>There may be translations for this text listed in the <a href="http://mbingenheimer.net/tools/bibls/transbibl.html#{{ summary.identifier.value }}">Bibliography of Translations from the Chinese Buddhist Canon into Western Languages</a>.</p>
{% endif %}

<h2>Assertions</h2>

<table id="assertion-table">
  <thead>
    <tr>
      <th scope="col">Preferred?</th>
      <th scope="col">Source</th>
      <th scope="col">Pertains to</th>
      <th scope="col">Argument</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for assertion in assertions %}
    <tr>
      <td>
        <p>{% if assertion.is_preferred %}Yes{% else %}No{% endif %}</p>
      </td>
      {% with source=assertion.source %}
      <td id="assertion-{{ assertion.pk }}" data-order="{{ source.date }}">
        <p>[<a href="{% url 'source_display' source.id %}">{{ source.abbreviation }}</a>]&nbsp;&nbsp; {{ source }}
        {% if assertion.source_detail %}
        &#8212; {{ assertion.source_detail }}
        {% endif %}</p>
      </td>
      {% endwith %}
      <td>
        <ul class="no-bullet">
          {% for text in assertion.texts.all %}
          <li><a href="{% url 'text_display' text.pk %}">{{ text }}</a></li>
          {% endfor %}
        </ul>
      </td>
      <td>{% if assertion.argument %}{{ assertion.argument|linebreaks }}{% endif %}
        <p>Entry author: {% with author=assertion.author %}{{ author.first_name }} {{ author.last_name }}{% endwith %}</p>
        <p><a href="{% url 'admin:attribution_propertyassertion_change' assertion.pk %}">Edit</a></p>
      </td>
      <td>
        <ul class="no-bullet">
          {% include "attribution/display/text_property.html" with title="Title" properties=assertion.titles.all %}

          {% include "attribution/display/text_person.html" with title="People" involvements=assertion.person_involvements.all %}

          {% include "attribution/display/text_date.html" with title="Date" dates=assertion.dates.all link=True %}

          {% include "attribution/display/text_property.html" with title="Identifier" properties=assertion.identifiers.all %}
        </ul>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block end_js %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('#assertion-table').DataTable({
    "order": [[1, "desc"]],
    "paging": false,
    "columnDefs": [
      { "orderable": false, "targets": [2, 3, 4] }
    ]
  });
});
</script>
{% endblock end_js %}
