footer {
    border-top: black 1px solid;
    font-size: smaller;
    padding-top: 1em;
    margin-top: 1em;
}

td {
    vertical-align: top;
}

.assertion-property-title {
    font-weight: bolder;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}